<div>
  <link
    href="stylesheets/m3.css"
    rel="stylesheet"
  />
  <div class="landingpage-container">
    <div class="landingpage-landingpage">
      <span class="landingpage-text">
        <span>
          <span>An Entrepreneurial</span>
          <br />
          <span>Hub for all</span>
        </span>
      </span>
      <span class="landingpage-text05">
        <span>Creating the Entrepreneur’s dream.</span>
      </span>
      <div class="landingpage-group4">
        <img
          src="images/icons/lapo vector.png"
          alt="lapovector11022"
          class="landingpage-lapovector1"
        />
        <span class="landingpage-text07" id = 'About'><span>About Us</span></span>
        <span class="landingpage-text09" id = 'Sign'><a href = '/login'>Sign in</a></span>
        <span class="landingpage-text11" id = 'Contact'><span>Contact Us</span></span>
      </div>
      <div class="landingpage-group3" id = 'Get-s'>
        <span class="landingpage-text13"><a href = '/login'>Get started</a></span>
      </div>
      <span class="landingpage-text15"><span>Build your business</span></span>
      <span class="landingpage-text17"><span>Grow your portfolio</span></span>
      <span class="landingpage-text19"><span>Make connections</span></span>
      <span class="landingpage-text21"><span>Invest with us</span></span>
      <img
        src="images/icons/ellipse51051-alh-600w.png"
        alt="Ellipse51051"
        class="landingpage-ellipse5"
      />
      <!--     <img
        src="C:\Users\dammy\OneDrive\Documents\HTML training\LEA\external/ellipse51041-e3v8-600h.png"
        alt="Ellipse51041"
        class="landingpage-ellipse51" 
      /> -->
      <img
        src="images/firmhandshakebetweentwobusinesspeople11041-y96j.svg"
        alt="firmhandshakebetweentwobusinesspeople11041"
        class="landingpage-firmhandshakebetweentwobusinesspeople1"
      />
      <img
        src="images/icons/ellipse61246-r4sp-200h.png"
        alt="Ellipse61246"
        class="landingpage-ellipse6"
      />
      <img
        src="images/icons/ellipse101248-vcrb-200h.png"
        alt="Ellipse101248"
        class="landingpage-ellipse10"
      />
      <img
        src="images/icons/ellipse111241-t1yw-200h.png"
        alt="Ellipse111241"
        class="landingpage-ellipse11"
      />
      <img
        src="images/icons/dashedline1242-0oqi-200h.png"
        alt="DashedLine1242"
        class="landingpage-dashed-line"
      />
      <div class="landingpage-round">
        <img
          src="images/icons/vector1242-2f3e.svg"
          alt="Vector1242"
          class="landingpage-vector"
        />
        <img
          src="images/icons/mortgage1485-am68-200w.png"
          alt="Mortgage1485"
          class="landingpage-mortgage"
        />
      </div>
      <div class="landingpage-round1">
        <img
          src="images/icons/vector1243-4udr.svg"
          alt="Vector1243"
          class="landingpage-vector1"
        />
        <img
          src="images/icons/coininhand1485-b2yg-200h.png"
          alt="CoininHand1485"
          class="landingpage-coinin-hand"
        />
      </div>
      <div class="landingpage-round2">
        <img
          src="images/icons/vector1244-w618.svg"
          alt="Vector1244"
          class="landingpage-vector2"
        />
        <img
          src="images/icons/positivedynamic1243-5ibh-200h.png"
          alt="PositiveDynamic1243"
          class="landingpage-positive-dynamic"
        />
      </div>
      <img
        src="images/icons/round1244-tmkhi.svg"
        alt="Round1244"
        class="landingpage-round3"
      />
      <img
        src="images/icons/link1244-yvss-200h.png"
        alt="Link1244"
        class="landingpage-link"
      />
      <img
        src="images/icons/line11244-4bck.svg"
        alt="Line11244"
        class="landingpage-line1"
      />
      <img
        src="images/icons/line21244-4vrc.svg"
        alt="Line21244"
        class="landingpage-line2"
      />
      <img
        src="images/icons/line31244-0m4e.svg"
        alt="Line31244"
        class="landingpage-line3"
      />
    </div>
  </div>
</div>
